[Unit]
Description=SmartMirror backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pinky
WorkingDirectory=/home/pinky/SmartMirrorV2
ExecStart=/usr/bin/npm run backend
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

